#title-experience-pro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin-top: 40px;
}
.experience-pro-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.experience-pro {
  width: var(--theme-contenu-width);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.one-experience {
  width: 100%;
  margin: 20px 0px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-items: center;
  box-shadow: 12px 9px 29px -3px var(--theme-box-shadow);
  -webkit-box-shadow: 12px 9px 29px -3px var(--theme-box-shadow);
  -moz-box-shadow: 12px 9px 29px -3px var(--theme-box-shadow);
}
.one-experience .left-experience {
  width: 100%;
  height: 100%;
  color: white;
  background-color: var(--color-recruter-buttons);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.one-experience .left-experience h5,
.one-experience .left-experience p {
  text-align: center;
}
.one-experience .left-experience h5,
.one-experience .left-experience p,
.one-experience .right-experience p,
.one-experience .right-experience h2 {
  padding: 10px 0px;
}

.one-experience .right-experience {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 90%;
  padding: 20px;
}
.one-experience li {
  font-weight: lighter;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-word;
  padding: 3px 10px;
  list-style: none;
}
.transition {
  transition: all var(--time-transition) ease-in-out;
}
@media all and (min-width: 800px) and (max-width: 1024px) {
}
@media all and (min-width: 601px) and (max-width: 800px) {
  h5 {
    font-size: 1.3rem;
  }
  p {
    font-size: 1.2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  .one-experience li {
    font-size: 1.4rem;
  }
}
@media all and (max-width: 600px) {
  h5 {
    font-size: 1.1rem;
  }
  p {
    font-size: 1rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .one-experience li {
    font-size: 1.2rem;
  }
}
