.container {
  width: 100%;
  padding: 30px 30px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
h2,
p {
  padding: 10px 0px;
}
p {
  font-size: 1.6rem;
}
@media all and (min-width: 800px) and (max-width: 1024px) {
  p {
    font-size: 1.4rem;
  }
}
@media all and (min-width: 601px) and (max-width: 800px) {
  p {
    font-size: 1.4rem;
  }
}
@media all and (max-width: 600px) {
  p {
    font-size: 1.4rem;
  }
}
