.container {
  width: 100%;
  padding: 30px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
h2,
p,
h5 {
  padding: 10px 0px;
}
p {
  font-size: 1.6rem;
}
h5::after {
  content: " :";
}
.element-right-grid {
  display: grid;
  grid-template-columns: 70px 1fr;
}
.element-right-grid h5 {
  grid-column: 1/2;
}
.element-right-grid p {
  grid-column: 2/3;
  text-align: right;
}
#adresse {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 1fr 1fr;
}
#adr-title {
  grid-row: 1/3;
  grid-column: 1/2;
}
#adr-detail {
  grid-row: 1/2;
  grid-column: 2/3;
  text-align: right;
}
#adr-pays {
  grid-row: 2/3;
  grid-column: 2/3;
  text-align: right;
  padding: 0px;
}
.mail i {
  font-size: 0rem;
}
@media all and (min-width: 800px) and (max-width: 1024px) {
  p {
    font-size: 1.4rem;
  }
  h5 {
    font-size: 1.5rem;
  }
}
@media all and (min-width: 601px) and (max-width: 800px) {
  p {
    font-size: 1.4rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  .container {
    padding: 10px 20px;
  }
}
@media all and (max-width: 600px) {
  p {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 1.2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  .container {
    padding: 5px 20px;
  }
}
