<div class="container">
    <h2>Information basique</h2>
    <div class="element-right">
        <h5>Age</h5>
        <p>30 ans</p>
    </div>
    <div class="element-right">
        <h5>Email</h5>
        <p>abdelhamid.ouanes.mail@gmail.com</p>
    </div>
    <div class="element-right">
        <h5>Phone</h5>
        <p>+216 25 25 12 95</p>
    </div>
    <div id="adresse">
        <h5 id="adr-title">Adresse</h5>
        <p id="adr-detail">29 Rue Andalous, La medina 1008 Beb Mnara</p>
        <p id="adr-pays"> Tunis, Tunisie</p>
    </div>
    <div class="element-right">
        <h5>Langue</h5>
        <p>Arabe, Français, Anglais.</p>
    </div>
</div> 