<div class="container">
    <h2>Information basique</h2>
    <div class="element-right-grid">
        <h5>Age</h5>
        <p>{{getAgeStatic(profile[0].dateNaissace)}} ans</p>
    </div>
    <div class="element-right-grid mail">
        <h5>Email</h5>
        <p>{{getIdentifiantEmailStatic(profile[0].email)}}<i> . </i>{{getDomaineEmailStatic(profile[0].email)}}</p>
    </div>
    <div class="element-right-grid">
        <h5>Phone</h5>
        <p>{{profile[0].tel}}</p>
    </div>
    <div id="adresse">
        <h5 id="adr-title">Adresse</h5>
        <p id="adr-detail">{{profile[0].adr}}</p>
        <p id="adr-pays"> {{profile[0].adrVille}}, {{profile[0].adrPays}}</p>
    </div>
    <div class="element-right-grid">
        <h5>Langue</h5>
        <p> <i *ngFor="let langue of profile[0].langues; let i=index">{{langue.langue}}<i *ngIf="i+1 != profile[0].langues.length">, </i></i></p>
    </div>
</div> 