.container {
  position: relative;
  --time-transition: 1s;
  --hauteur-slider: 530px;
}
.container-var1 {
  --theme-nav-color: rgb(202, 184, 160, 0.6);
  --theme-nav-height: 60px;
  --theme-nav-li-bgcolor: rgba(131, 97, 57, 0.116);
  --theme-navigate-button-color: rgba(131, 97, 57, 0.301);
  --theme-navigate-button-bg: rgba(187, 183, 179, 0.534);
  --theme-contenu-width: 80%;
  --font-style-title-description: "Source Code Pro", monospace;
  --font-family-recruter-buttons: "Montserrat", sans-serif;
  --color-recruter-buttons: rgb(202, 184, 160);
}
.container-var2 {
  --theme-nav-color: rgba(132, 214, 152, 0.6);
  --theme-nav-height: 60px;
  --theme-nav-li-bgcolor: rgba(30, 153, 61, 0.233);
  --theme-navigate-button-color: rgba(38, 110, 56, 0.6);
  --theme-navigate-button-bg: rgba(129, 151, 135, 0.178);
  --theme-contenu-width: 80%;
  --font-style-title-description: "Source Code Pro", monospace;
  --font-family-recruter-buttons: "Montserrat", sans-serif;
  --color-recruter-buttons: rgb(100, 163, 116);
}
.container-var3 {
  --theme-nav-color: rgba(38, 67, 80, 0.6);
  --theme-nav-height: 60px;
  --theme-nav-li-bgcolor: rgba(12, 48, 65, 0.486);
  --theme-navigate-button-color: rgba(17, 51, 65, 0.822);
  --theme-navigate-button-bg: rgba(131, 163, 179, 0.664);
  --theme-contenu-width: 80%;
  --font-style-title-description: "Source Code Pro", monospace;
  --font-family-recruter-buttons: "Montserrat", sans-serif;
  --color-recruter-buttons: rgb(94, 123, 134);
}
.container-var4 {
  --theme-nav-color: rgba(120, 0, 0, 0.6);
  --theme-nav-height: 60px;
  --theme-nav-li-bgcolor: rgba(56, 4, 4, 0.76);
  --theme-navigate-button-color: rgba(63, 8, 8, 0.904);
  --theme-navigate-button-bg: rgba(122, 71, 71, 0.904);
  --theme-contenu-width: 80%;
  --font-style-title-description: "Source Code Pro", monospace;
  --font-family-recruter-buttons: "Montserrat", sans-serif;
  --color-recruter-buttons: rgb(71, 20, 20);
}
.slider {
  width: 100%;
  height: var(--hauteur-slider);
  position: absolute;
  top: 0px;
  left: 0px;
}

main {
  position: relative;
  width: 100%;
  height: 530px;
}
.nav2 {
  position: absolute;
  top: var(--theme-nav-height);
  right: 0px;
  z-index: 5;
  width: 100%;
}
.nav2Display {
  display: none;
}
.nav2Hidden {
  display: none;
}
.navigate-button {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000;
}
@media all and (max-width: 600px) {
  .nav2Display {
    display: flex;
  }
  .nav2Hidden {
    display: none;
  }
}
