.container {
  width: 100%;
  height: 100%;
  position: relative;
}
.slide {
  width: 100%;
  height: 100%;
}
.bgslide {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
}
.bgslideHidden {
  opacity: 0;
  filter: grayscale(100%);
}
.bgslideDisplay {
  opacity: 1;
  filter: grayscale(0%);
}
.transition {
  transition: all var(--time-transition) ease-in;
}
