<div class="container">
    <img *ngFor="let profilePicture of profilePictures" 
        [ngClass]="{'profilepic': true,
                    'transition': true,
                    'profilePicDisplay': getFileNameStatic(profilePicture.profileImg) == activeTheme,
                    'profilePicHidden': getFileNameStatic(profilePicture.profileImg) != activeTheme,
                    'imgHidden': afficheMenu === 'true',
                    'imgDisplay': afficheMenu === 'false'}"
    [src]="imgFolderProfilePic + profilePicture.profileImg" alt="Abdelhamid Ouanes">
    <div class="profilepicremplace"></div>
    <h1>{{profile[0].prenom}} {{profile[0].nom}}</h1>
    <h2>{{profile[0].jobTitle}}</h2>
</div>