<div class="container">
    <img *ngFor="let profilePicture of profilePictures" 
        [ngClass]="{'profilepic': true,
                    'transition': true,
                    'profilePicDisplay': getFileNameStatic(profilePicture.profileImg) == activeTheme,
                    'profilePicHidden': getFileNameStatic(profilePicture.profileImg) != activeTheme,
                    'imgHidden': afficheMenu === 'true',
                    'imgDisplay': afficheMenu === 'false'}"
    [src]="imgFolderProfilePic + profilePicture.profileImg" alt="Abdelhamid Ouanes">
    <div class="profilepicremplace"></div>
    <h1>Abdelhamid Ouanes</h1>
    <h2>Développeur full stack, Consultant informatique, Développeur logiciel</h2>
</div> 